.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  flex: 1 1 auto;
  display: flex;
  padding: 2vh 2vw;
}

li {
  list-style: none;
  text-align: left;
}

.menu {
  flex: 0 0 15rem;
  max-width: 15rem;
}

.jsonViewer {
  flex: 10 10 auto;
}
